* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
  background-color: rgb(248, 206, 159);
}

h1 {
  background-color: #460404;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  letter-spacing: 0.5rem;
}

.calculator {
  border: 15px solid rgb(0, 0, 0);
  border-radius: 5%;
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
}

.screen {
  width: 100%;
  font-size: 40px;
  height: 150px;
  background-color: black;
  color: white;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 3%;
}

button {
  height: 50px;
  width: auto;
  background-color: #333;
  font-size: 20px;
  color: white;
  border-radius: 50%;
}

button:hover {
  background-color: #2c2929;
  color: white;
}

.operator {
  color: #2f3336;
  background-color: lightgray;
}

.clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.clear:hover {
  background-color: #420002;
}

.equal {
  color: #fff;
  border-radius: 0%;
}

.equal:hover {
  background-color: #b38a05;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 5px;
  grid-column-gap: 10px;
}

.equal {
  background-color: #e9b629;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6;
}
